.appBar {
    background-color: var(--titleColor) !important;
    position: absolute !important;
    top: 0px;
    left: 0px;
    right: 0px;

    .iconBtn{
        color: #F2F2F2;
    }
}

